@page "/management"

@using Models
@inject HttpClient Http

<h3>Booking Management</h3>

@if (bookings != null && bookings.Any())
{
    <table class="table-booking">
    <thead>
        <tr class="tr-booking">
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Device Number</th>
            <th>Is Cancelled</th>
            <th>Cancel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in bookings)
            {
                <tr class="tr-booking">
                    <td>@item.Date.ToShortDateString()</td>
                    <td>@item.StartTime.ToString("HH:mm")</td>
                    <td>@item.EndTime.ToString("HH:mm")</td>
                    <td>@item.DeviceId</td>
                    <td>@item.Cancelled</td>
                    <td><button @onclick="@(e => CancelBooking(item))">Cancel</button></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>Loading...</div>
}


@code {
    private const string apiRoot = "https://localhost:7139/";
    private BookingGetDto[] bookings;

    private async Task CancelBooking(BookingGetDto item)
    {
        await Http.PutAsJsonAsync(apiRoot + "api/booking/id/" + item.Id, item);
    }
    protected override async Task OnInitializedAsync()
    {
        @* bookings = await Http.GetFromJsonAsync<List<BookingGetDto>>(apiRoot + "api/booking/userId/1"); *@
        bookings = await Http.GetFromJsonAsync<BookingGetDto[]>($"{apiRoot}api/booking/userId/1");
    }
}
